<div class="simple-login-container">
    <div class="logo-container">
        <img src="assets/img/Recurso 1.png" class="logo" width="100px" alt="">

    </div>
    
    <h2>Iniciar Sesión</h2>
    <br>
    <form [formGroup]="loginForm">
    <div class="row">
        <div class="col-md-12 form-group">
            <input 
            formControlName="username"
            type="text" 
            class="form-control" 
            placeholder="Nombre de usuario" 
            name="User">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 form-group">
            <input 
            formControlName="password"
            type="password" 
            placeholder="Contraseña" 
            class="form-control" 
            name="passid">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 form-group">
            <button 
            type="submit" 
            class="btn btn-block btn-login"
            (click)="loginSubmit()">Submit</button>
        </div>
    </div>
</form>  
</div>